@charset "UTF-8";
$ppr:720/16/1rem;
.details_con{
    width: 100%;
    background: white;
    padding-top: 20/$ppr;
    padding-bottom: 20/$ppr;
    .details_con_top{
        width: 120/$ppr;
        height: 120/$ppr;
        float: left;
        margin-left:30/$ppr;
        img{
            width: 100%;
            height: 100%;
            border-radius:50%;
        }
    }
    .details_con_left{
        width:520/$ppr;
        float: left;
        margin-left: 170/$ppr;
        margin-top: -100/$ppr;
        .details_left_top{
            width: 100%;
           
            float: left;
            .details_text{
                float: left;
                 font-size: 28/$ppr;
            color: #D3A100;
            }
            .details_right{
   
    float: right;
    margin-right: 30/$ppr;
    img{
        width:24/$ppr;
        display: inline-block;
        margin-top: 5/$ppr;
    }
    span{
        font-size: 28/$ppr;
    }
}
        }
        .details_left_con{
            color: #222222;
        }
        .details_img{
            width: 100%;
            margin-top:20/$ppr;
            .details_img_list{
                float: left;
                margin-left:20/$ppr;
                img{
                    width:180/$ppr;
                    height:100/$ppr;
                }
            }          
        }
        .details_time{
            font-size: 20/$ppr;
            margin-top: 20/$ppr;
        }
    }
}
.comment_con{
    width: 100%;
    background: white;
    margin-top: 20/$ppr;
   
    .comment_top{
       width: 100%;
       .comment_left{
           width:260/$ppr;
           background: #EFEFEF;
           float: left;
           margin-left: 30/$ppr;
           height: 2/$ppr;
           margin-top: 40/$ppr;
       }
       .comment_text{
           font-size:28/$ppr;
           color: #222222;
           float: left;
           margin-left: 20/$ppr;
           margin-top: 20/$ppr;
       }
       .comment_right{
           width:260/$ppr;
           border:1/$ppr solid #EFEFEF;
           float: left;
           margin-left:20/$ppr;
           margin-top: 40/$ppr;
       }
    }
    .comment_list_con{
        width: 100%;    
        .comment_list{
            width: 100%;
             padding-bottom: 20/$ppr;
             margin-top:4/$ppr;
            .comment_center_img{
              width: 15%;
              float: left;                
              img{
                    display:inline-block;
                    width: 80/$ppr;
                    height: 80/$ppr;
                    border-radius: 50%;
                    margin-left:30/$ppr;                    
                }
            }
        }
        
    }
}
.comment_center_left{
    width:78%;
    float: left;
    margin-left:20/$ppr; 
    .comment_left_text{                
            color: #D3A100;
            font-size: 24/$ppr;
            float: left;
          
    }
   .comment_left_con{
width:100%;                     
color:#222222;
font-size: 24/$ppr;
text-overflow: -o-ellipsis-lastline;  
overflow: hidden;  
text-overflow: ellipsis;  
display: -webkit-box;  
-webkit-line-clamp: 2; //这儿的数字代表的就是你所需要实现效果的第N行  
-webkit-box-orient: vertical; 
        }
}
.comment_center_left2{
   .comment_center_time{
       float: left;
       font-size: 20/$ppr;
       margin-top: 10/$ppr;
   }
   .comment_center_tt{
       float: left;
       font-size: 20/$ppr;
       margin-left: 20/$ppr;
       margin-top:10/$ppr;
   }
   .comment_center_right{
       float:right;
       .right_img{
          img{
              display: inline-block;   
           width:36/$ppr;
           margin-top:2/$ppr;
           margin-left: 20/$ppr;
       } 
       }
       
       .right_text{
           font-size: 20/$ppr;
       }
   }
}

