<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>案例</title>
		<link rel="stylesheet" href="../public/css/mui.css" />
		<script>
		 	var html=document.documentElement;
		 	var w = window.outerWidth || screen.width; if (w > 720){w='720'};
		 	var fontSize = w/16 + 'px';html.style.fontSize =fontSize;
		 </script>
		 <link rel="stylesheet" href="../public/css/anli.css"/>
		 <link rel="stylesheet" href="../public/css/myapp.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav" id="header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">案例</h1>
		</header>
		<div class="mui-content">
			<div class="anli_con">
				<div class="anli_con_top">
				   <div class="anli_con_top_text">患者信息</div>
				   <div class="anli_con_list">姓名：张三</div>
				   <div class="anli_con_list">病例号：1601391245678</div>
				   <div class="anli_con_list">性别：男</div>
				   <div class="anli_con_list">出生日期：1987-1-23</div>
				   <div class="anli_con_list">年龄：39</div>
				</div>
				<div class="anli_con_bttom">
					<div class="anli_bttom_top">就诊记录：</div>
					<div class="anli_bttom_text">二诊：2017-03-21</div>
					<div class="anli_bttom_list">首诊：2017-03-21</div>
					<div class="anli_bttom_list">主诉：慢性阑尾炎</div>
					<div class="anli_bttom_list">现病史：
					这是病史这是病史这是病史这是病史这是病史这是病史这是病史
					</div>
					<div class="anli_bttom_list">检查：查心电图未见异常</div>
					<div class="anli_bttom_list">诊断：慢性阑尾炎</div>
					<div class="anli_bttom_list">处方：
					这是文字这是文字这是文字这是文字这是文字这是文字这是文字这是文字这是文字
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
