<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>中医临床视频</title>
		<link rel="stylesheet" href="../public/css/mui.css" />
		<script>
		 	var html=document.documentElement;
		 	var w = window.outerWidth || screen.width; if (w > 720){w='720'};
		 	var fontSize = w/16 + 'px';html.style.fontSize =fontSize;
		 </script>
		 <link rel="stylesheet" href="../public/css/cliical_video.css"/>
		 <link rel="stylesheet" href="../public/css/myapp.css" />
		 <style>
		 	
		 </style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">中医临床视频</h1>
		</header>
		<div class="mui-content">
			<div class="clinical_con">
				<div class="clinical_con_list">
					<div class="clinical_top clear">
						<div class="clinical_top_img">
							<img src="../public/image/index_cli.png">
						</div>
						<div class="clinical_top_text" id="2">康复评定</div>
						<div class="clinical_top_right" id="morevideo">
							<span>共35张视频</span>
							<span>
								<img src="../public/image/right.png">
							</span>
						</div>
					</div>
					<div class="clinical_list_cc clear" id="kangFU">
					
					  <!-- <div class="image_con_left">
						<div class="image_left_img"></div>
						<div class="iext_text">这是文字标题</div>
					</div>
					<div class="image_con_left">
						<div class="image_left_img"></div>
						<div class="iext_text">这是文字标题</div>
					</div>	-->
					</div>
				</div>
					<div class="clinical_con_list">
					<div class="clinical_top clear">
						<div class="clinical_top_img">
							<img src="../public/image/index_clic.png">
						</div>
						<div class="clinical_top_text" id="3">推拿学</div>
						<div class="clinical_top_right" id="Tmore">
							<span>共35张视频</span>
							<span>
								<img src="../public/image/right.png">
							</span>
						</div>
					</div>
					<div class="clinical_list_cc clear" id="TuiNA">
				
			
			
					</div>
				</div>
			</div>
		</div>
		 <script type="text/javascript" src="../public/js/jquery-1.12.3.js" ></script>
		 <script type="text/javascript" src="../public/js/mui.js" ></script>
		 <script type="text/javascript" src="../public/js/zepto.min.js" ></script>
		<script type="text/javascript" src="../public/js/app.js" ></script>
        <script type="text/javascript" src="../public/js/video.js" ></script>
	</body>
</html>
