<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Access-Control-Allow-Origin" content="">
        <meta http-equiv="content-security-policy">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../public/css/mui.css" />
		<script>
		 	var html=document.documentElement;
		 	var w = window.outerWidth || screen.width; if (w > 720){w='720'};
		 	var fontSize = w/16 + 'px';html.style.fontSize =fontSize;
		 </script>
		 <link rel="stylesheet" href="../public/css/com_add.css"/>
		 <link rel="stylesheet" href="../public/css/myapp.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">全部科室</h1>
		</header>
		<div class="mui-content">
			<div class="mui_add_con">
				<div class="mui_add_top clear">
					<div class="mui_add_top_icon">
						<img src="../public/image/zuyi.png">
					</div>
					<div class="mui_add_top_text">内科系统</div>
				</div>
				<div class="mui_add_center">
					<div class="mui_add_list clear"style="margin-top:0px;">
						<div class="mui_add_list_text"style="margin-left: 0;">呼吸内科</div>
						<div class="mui_add_list_text">内分泌科</div>
						<div class="mui_add_list_text">神经内科</div>
						<div class="mui_add_list_text">肾内科</div>
					</div>
					<div class="mui_add_list clear">
						<div class="mui_add_list_text"style="margin-left: 0;">消化内科</div>
						<div class="mui_add_list_text">风湿</div>
						<div class="mui_add_list_text">中医科</div>
						<div class="mui_add_list_text">肾内科</div>
					</div>
				</div>
			</div>
			<!--内分泌科-->
				<div class="mui_add_con">
				<div class="mui_add_top clear">
					<div class="mui_add_top_icon">
						<img src="../public/image/zutwo.png">
					</div>
					<div class="mui_add_top_text">外科系统</div>
				</div>
				<div class="mui_add_center">
					<div class="mui_add_list clear"style="margin-top:0px;">
						<div class="mui_add_list_text"style="margin-left: 0;">呼吸内科</div>
						<div class="mui_add_list_text">内分泌科</div>
						<div class="mui_add_list_text">神经内科</div>
						<div class="mui_add_list_text">肾内科</div>
					</div>
					<div class="mui_add_list clear">
						<div class="mui_add_list_text"style="margin-left: 0;">消化内科</div>
						<div class="mui_add_list_text">风湿</div>
						<div class="mui_add_list_text">中医科</div>
						<div class="mui_add_list_text">肾内科</div>
					</div>
				</div>
			</div>
			<!--外科系统-->
				<div class="mui_add_con">
				<div class="mui_add_top clear">
					<div class="mui_add_top_icon">
						<img src="../public/image/zu3.png">
					</div>
					<div class="mui_add_top_text">妇儿</div>
				</div>
				<div class="mui_add_center">
					<div class="mui_add_list clear"style="margin-top:0px;">
						<div class="mui_add_list_text"style="margin-left: 0;">呼吸内科</div>
						<div class="mui_add_list_text">内分泌科</div>
						<div class="mui_add_list_text">神经内科</div>
						<div class="mui_add_list_text">肾内科</div>
					</div>
					<div class="mui_add_list clear">
						<div class="mui_add_list_text"style="margin-left: 0;">消化内科</div>
						<div class="mui_add_list_text">风湿</div>
						<div class="mui_add_list_text">中医科</div>
						<div class="mui_add_list_text">肾内科</div>
					</div>
				</div>
			</div>
			<!--妇儿-->
				<div class="mui_add_con">
				<div class="mui_add_top clear">
					<div class="mui_add_top_icon">
						<img src="../public/image/zusi.png">
					</div>
					<div class="mui_add_top_text">五官科</div>
				</div>
				<div class="mui_add_center">
					<div class="mui_add_list clear"style="margin-top:0px;">
						<div class="mui_add_list_text"style="margin-left: 0;">呼吸内科</div>
						<div class="mui_add_list_text">内分泌科</div>
						<div class="mui_add_list_text">神经内科</div>
						<div class="mui_add_list_text">肾内科</div>
					</div>
					<div class="mui_add_list clear">
						<div class="mui_add_list_text"style="margin-left: 0;">消化内科</div>
						<div class="mui_add_list_text">风湿</div>
						<div class="mui_add_list_text">中医科</div>
						<div class="mui_add_list_text">肾内科</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
