<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>ECharts</title>
    
    <!-- 引入 echarts.js -->
    <script src="../public/js/echarts.js"></script>
    <script type="text/javascript" src="../public/js/bar.js" ></script>
    <script type="text/javascript" src="../public/js/line.js" ></script>
    <!-- 引入jquery.js -->
    <script src="../public/js/jquery-1.12.3.js"></script>
</head>

<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    
    <script type="text/javascript">
       require.config({
       	paths:{
       		echarts:'/cmf/statics/js'
       	}
       })
 // 生成图标函数  
    // divId 为 DOM元素的id  
    // data 为 返回的json数据，包括三个部分：图例、横坐标、数据内容数组  
    
     
       	$.ajax({
       		type:"get",
       		url:"http://192.168.1.173:8081/notes/yearChart",
       		dataType:"json",
       		data:{date:'2017-01-01'},
       		success:function(data){
       			drawBar('main',data)
       		},
       		error:function(msg){
       			alert('系统发生错误')
       		}
       	});
     
       
       function drawBar(divId,data){
        // 加载需要使用到的echarts包  
        require(  
            [  
                'echarts',  
                'echarts/chart/bar',  
                'echarts/chart/line'  
            ],  
            function(ec){  
                var myChart = ec.init(document.getElementById(divId));  
                myChart.setOption({  
                    tooltip : {  
                        trigger: 'axis'  
                    },  
                    legend: {  
                        //1. json数据中的图例  
                        data:data.legend  
                    },  
                    toolbox: {  
                        show : true,  
                        feature : {  
                            mark : {show: true},  
                            dataView : {show: true, readOnly: false},  
                            magicType : {show: true, type: ['line', 'bar']},  
                            restore : {show: true},  
                            saveAsImage : {show: true}  
                        }  
                    },  
                    calculable :true,  
                    xAxis : [  
                        {  
                            type : 'category',                            
                            data : data.xAxis_data//2. json数据中的横坐标  
                        }  
                    ],  
                    yAxis : [  
                        {  
                            type : 'value',  
                            splitArea : {show : true}  
                        }  
                    ],                    
                    series : data.series//3. json数据中的显示数据  
                });  
            }  
        )       
    </script>
    
</body>
</html> 