<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>绑定</title>
		<link rel="stylesheet" href="../public/css/mui.css" />
		<script>
		 	var html=document.documentElement;
		 	var w = window.outerWidth || screen.width; if (w > 720){w='720'};
		 	var fontSize = w/16 + 'px';html.style.fontSize =fontSize;
		 </script>
		 <link rel="stylesheet" href="../public/css/exchange.css"/>
		 <link rel="stylesheet" href="../public/css/myapp.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav" id="header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">积分兑换</h1>
		</header>
		<div class="mui-content">
			<div class="exchange_con">
				<div class="exchange_con_list clear">
					<div class="list_img_left">
						<img src="../public/image/img.jpg">
					
					</div>
					<div class="list_con">
						<div class="list_con_top">小熊</div>
						<div class="list_con_bbt">所需积分:600</div>
						
					</div>
					<div class="list_right">
							<img src="../public/image/jifen.png">
						</div>					
				</div>
				<div class="exchange_con_list clear">
					<div class="list_img_left">
						<img src="../public/image/img.jpg">
					
					</div>
					<div class="list_con">
						<div class="list_con_top">小熊</div>
						<div class="list_con_bbt">所需积分:600</div>
						
					</div>
					<div class="list_right">
							<img src="../public/image/jifen.png">
						</div>					
				</div>
			</div>
		</div>
	</body>
</html>
