<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../public/css/mui.css" />
		<script>
		 	var html=document.documentElement;
		 	var w = window.outerWidth || screen.width; if (w > 720){w='720'};
		 	var fontSize = w/16 + 'px';html.style.fontSize =fontSize;
		 </script>
		 <link rel="stylesheet" href="../public/css/guideline_list.css"/>
		 <link rel="stylesheet" href="../public/css/myapp.css" />
		 <style>
		 	.mui_bttom{
		 		background:white !important;
		 	}
		 	
		 </style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav" id="header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">春季病</h1>
		</header>
	<div id="pullrefresh" class="mui-scroll-wrapper">
	<div class="mui-scroll">
		<div class="mui-content">
			<div class="guideline_list_con">
				<div class="guideline_top">
					<img src="../public/image/banner2.jpg">
				</div>
				<div class="guideline_list_center">
					<div class="gubideline_list_center_top clear">
						<div class="guideline_icon">
							<img src="../public/image/list.png">
						</div>
						<div class="guideline_text">分类</div>
					</div>
					<ol class="gubideline_list_con_news">
					<ul class="mui-table-view mui-table-view-chevron " id="mui_records_bttom">
				
						
			</ul>
						
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		<script type="text/javascript" src="../public/js/jquery-1.12.3.js" ></script>
		 <script type="text/javascript" src="../public/js/mui.js" ></script>
	   <script type="text/javascript" src="../public/js/app.js" ></script>
	   <script type="text/javascript" src="../public/js/zepto.min.js"></script>
	   <script type="text/javascript" src="../public/js/geideline_list.js"></script>
	   <script>
	   	mui.init()
	   </script>
	</body>
</html>
