<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>中医数据</title>
		<link rel="stylesheet" href="../public/css/mui.css" />
		<script>
		 	var html=document.documentElement;
		 	var w = window.outerWidth || screen.width; if (w > 720){w='720'};
		 	var fontSize = w/16 + 'px';html.style.fontSize =fontSize;
		 </script>
		 <link rel="stylesheet" href="../public/css/index_two.css" />
		 <link rel="stylesheet" href="../public/css/myapp.css" />
		 <link rel="stylesheet" href="../public/css/swiper.css" />
	    <style>
	    	.mui-slider-indicator {
    position: absolute;
    bottom: 80px;
    width: 100%;
    text-align: center;
    background: none;
}
	    </style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">中医临床指南</h1>
		</header>
		<div class="mui-content">
			<div class="index-con">
				<div class="swiper-container">
				<div class="swiper-wrapper">
				<div class="swiper-slide">
				<div class="mui_banner_con">
				<div class="mui_banner clear">
							<div class="mui_banner_list">
								<div class="mui_banner_list_img clolor1">
									<img src="../public/image/erke.png">
								</div>
								<div class="mui_banner_list_text">儿科</div>
							</div>
							<div class="mui_banner_list">
								<div class="mui_banner_list_img clolor2">
									<img src="../public/image/xueye.png">
								</div>
								<div class="mui_banner_list_text">血液科</div>
							</div>
							<div class="mui_banner_list">
								<div class="mui_banner_list_img clolor3">
									<img src="../public/image/guke.png">
								</div>
								<div class="mui_banner_list_text ">骨科</div>
							</div>
							<div class="mui_banner_list">
								<div class="mui_banner_list_img clolor4">
									<img src="../public/image/erke.png">
								</div>
								<div class="mui_banner_list_text">耳鼻喉科</div>
							</div>
						</div>						
						<!--第一行结束-->
							
						<div class="mui_banner clear">
							<div class="mui_banner_list">
								<div class="mui_banner_list_img clolor5">
									<img src="../public/image/pifu.png">
								</div>
								<div class="mui_banner_list_text">皮肤科</div>
							</div>
							<div class="mui_banner_list">
								<div class="mui_banner_list_img clolor6">
									<img src="../public/image/ganz.png">
								</div>
								<div class="mui_banner_list_text">肝脏科</div>
							</div>
							<div class="mui_banner_list">
								<div class="mui_banner_list_img clolor7">
									<img src="../public/image/yanke.png">
								</div>
								<div class="mui_banner_list_text ">眼科</div>
							</div>
							<div class="mui_banner_list">
								<div class="mui_banner_list_img clolor8">
									<img src="../public/image/weichang.png">
								</div>
								<div class="mui_banner_list_text">胃肠科</div>
							</div>
						</div>
					
					
				</div>

				</div>
				<div class="swiper-slide">
					
				</div>
				<div class="swiper-slide">
					
				</div>
				</div>
				<div class="swiper-pagination"></div>
				</div>
		
		<div class="swiper-container banner_con">
          <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../public/image/bg1.png"></div>
        <div class="swiper-slide"><img src="../public/image/bg1.png"></div>
        <div class="swiper-slide"><img src="../public/image/bg1.png"></div>
          </div>
	  </div>
			 <div class="index_con_seasons">
			 	<div class="index_con_text">四季病</div>
			 	<div class="index_con_center">
			 	<div class="index_con_list clear">
			 		<div class="index_list_left">
			 			<img src="../public/image/img.jpg">
			 		</div>
			 		<div class="index_list_right">
			 			<div class="index_list_right_top clear">
			 				<div class="index_list_right_list" style="margin-left: 0;">皮肤科</div>
			 				<div class="index_list_right_list">皮肤科</div>
			 				<div class="index_list_right_list">神经内科</div>
			 				<div class="index_list_right_list">脑科</div>
			 				<div class="index_list_right_list"style="border-right: none;">皮肤科</div>
			 			</div>
			 			<div class="index_list_right_top" style="margin-top:5px;">
			 				<div class="index_list_right_list" style="margin-left:0;">皮肤科</div>
			 				<div class="index_list_right_list">皮肤科</div>
			 				<div class="index_list_right_list">神经内科</div>
			 				<div class="index_list_right_list">脑科</div>
			 				<div class="index_list_right_list"style="border-right: none;">更多</div>
			 			</div>
			 		</div>
			 	</div>
			 	</div>
			 </div>
			</div>		
		</div>
		<script type="text/javascript" src="../public/js/swiper.min.js" ></script>
		<script>
   var swiper = new Swiper('.swiper-container', {
      pagination: {
        el: '.swiper-pagination',
      },
     
    });

	</script>
	</body>
</html>
