<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>古今医案</title>
		<link rel="stylesheet" href="../public/css/mui.css" />
		<script>
		 	var html=document.documentElement;
		 	var w = window.outerWidth || screen.width; if (w > 720){w='720'};
		 	var fontSize = w/16 + 'px';html.style.fontSize =fontSize;
		 </script>
		 <link rel="stylesheet" href="../public/css/medical_records.css" />
		 <link rel="stylesheet" href="../public/css/myapp.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav" id="header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">古今医案</h1>
		</header>
		<div class="mui-content">
				<div class="medical_top">
	               <div class="medical_top_list">
	                 	全部分类
	               </div>
	               <div class="medical_con">
	               	<div class="medical_meu_list">韩</div>
	               	<div class="medical_meu_list">宋</div>
	               	<div class="medical_meu_list">金</div>
	               	<div class="medical_meu_list">元</div>
	               	<div class="medical_meu_list">明</div>
	               	<div class="medical_meu_list">清</div>
	               </div>
			   </div>
		</div>
	</body>
</html>
