<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>修改密码</title>
		<link rel="stylesheet" href="../public/css/mui.css" />
		<script>
		 	var html=document.documentElement;
		 	var w = window.outerWidth || screen.width; if (w > 720){w='720'};
		 	var fontSize = w/16 + 'px';html.style.fontSize =fontSize;
		 </script>
		 <link rel="stylesheet" href="../public/css/register.css" />
		 <link rel="stylesheet" href="../public/css/myapp.css" />
		 <style>
		 	.register_con{
		 		padding-bottom: 0;
		 	}
		 	.button_password{
		 		width: 90%;
		 		margin: auto;
		 		margin-top: 20px;
		 		
		 	}
		 	.button_password button{
		 		width:100%;
		 		font-size: 18px;
		 		padding-top: 7px;
		 		padding-bottom: 7px;
		 		background: #D3A100;
		 		outline: none;
		 		border: none;
		 		border-radius: 10px;
		 		color: white;
		 	}
		 </style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">修改密码</h1>
		</header>
		<div class="mui-content">
		   <div class="register_con" style="margin-top: 0;">
		   	   <div class="register_con_list">
		   	   	<span class="register_con_text">密码&nbsp;&nbsp;&nbsp;&nbsp;</span>
		   	   	<input type="password" name="" id="username">		   	   	
		   	   </div>
		   	   <div class="register_con_list">
		   	   	<span class="register_con_text">确认密码</span>
		   	   	<input type="password" name="" id="tel" style="width:240px;">		   	   	
		   	   </div>
		   	   <div class="register_con_list" style="border-bottom: none;">
		   	   	<span class="register_con_text">新密码&nbsp;&nbsp;&nbsp;</span>
		   	   	<input type="password" name="" id="username" />		   	   	
		   	   </div>	   	 
		   </div>
		      <div class="button_password">
		      	<button value="完成">完成</button>
		      </div>
		   </div>
	</body>
</html>
