<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我的帖子</title>
		<link rel="stylesheet" href="../public/css/mui.css" />
		<script>
		 	var html=document.documentElement;
		 	var w = window.outerWidth || screen.width; if (w > 720){w='720'};
		 	var fontSize = w/16 + 'px';html.style.fontSize =fontSize;
		 </script>
		 <link rel="stylesheet" href="../public/css/my_notes.css">
		 <link rel="stylesheet" href="../public/css/myapp.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">帖子</h1>
		</header>
		<div class="mui-content">
		<div class="all_content_tenter" style="display: block;">
			     <div class="mui_table_litem1">
								<div class="mui_table_top clear">
									<div class="mui_table_top_left">
										<img src="../public/image/img.jpg">
									</div>
									<div class="mui_table_top_text">腹泻</div>
									<div class="mui_table_right">
										<img src="../public/image/delate.png">
									</div>
									<div class="mui_table_center">
										<span class="fangan">[主治方案]</span>
										<span class="wenzi">这是文字这是文字这是文字这是文字这是文字这是文字这是文字这是文字这是文字这是文字这是文字这是文字这是文字这是文字</span>
									</div>
								</div>
							</div>
							<div class="mui_table_litem1">
								<div class="mui_table_top clear">
									<div class="mui_table_top_left">
										<img src="../public/image/img.jpg">
									</div>
									<div class="mui_table_top_text">腹泻</div>
									<div class="mui_table_right">
										<img src="../public/image/delate.png">
									</div>
									<div class="mui_table_center">
										<span class="fangan">[主治方案]</span>
										<span class="wenzi">这是文字这是文字这是文字这是文字这是文字这是文字这是文字这是文字这是文字这是文字这是文字这是文字这是文字这是文字</span>
									</div>
								</div>
							</div>
						</div>
		</div>
	   <script src="../public/js/mui.js"></script>
       <script src="../public/js/zepto.min.js"></script>
       <script type="text/javascript" src="../public/js/app.js" ></script>
       <script type="text/javascript" src="../public/js/my_com.js"></script>	
	</body>
</html>
