<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="Access-Control-Allow-Origin" content="">
        <meta http-equiv="content-security-policy">
		<title>公告信息</title>
		<link rel="stylesheet" href="../public/css/mui.css" />
		<script>
		 	var html=document.documentElement;
		 	var w = window.outerWidth || screen.width; if (w > 720){w='720'};
		 	var fontSize = w/16 + 'px';html.style.fontSize =fontSize;
		 </script>
		<link rel="stylesheet" href="../public/css/project.css"/>
		 <link rel="stylesheet" href="../public/css/myapp.css" />
		 <script type="text/javascript" src="../public/js/swiper.min.js" ></script>
		 <style>
		 	#pullrefresh{
		 		margin-top:48px;
		 	}
		 	.mui_news{
		 		 margin-top: 2.22222rem;
  			     padding-bottom: 2.22222rem; }
		 	}
		 </style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav" id="header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">公告信息</h1>
		</header>
		<div class="mui-content mui-scroll-wrapper" id="pullrefresh">           
		    <div class="mui-scroll">
		        <ul  class="mui-table-view">
		        </ul>
		    </div>
		</div>
	    <script type="text/javascript" src="../public/js/jquery-1.10.1.min.js" ></script>
		<script type="text/javascript" src="../public/js/mui.js" ></script>
		<script type="text/javascript" src="../public/js/app.js" ></script>
		<script type="text/javascript" src="../public/js/zepto.min.js" ></script>
        <script type="text/javascript" src="../public/js/notice.js" ></script>
	</body>
</html>
