<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>修改密码</title>
		<link rel="stylesheet" href="../public/css/mui.css" />
		<script>
		 	var html=document.documentElement;
		 	var w = window.outerWidth || screen.width; if (w > 720){w='720'};
		 	var fontSize = w/16 + 'px';html.style.fontSize =fontSize;
		 </script>
		 <link rel="stylesheet" href="../public/css/register.css" />
		 <link rel="stylesheet" href="../public/css/myapp.css" />
	     <style>
	     	button{
	     		outline: none;
	     		border: none;
	     		
	     	}
	     </style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">修改密码</h1>
		</header>
		<div class="mui-content">
			<div class="register_con" style="padding-bottom: 30px;">
				<div class="register_con_list">
		   	   	<input type="password"  id="mypwd" placeholder="旧密码" 
		   	   		onblur="oldPassword()" style="width:240px;margin-top: 5px;">
		   	   </div>
			   <div class="register_con_list">
		   	   	<input type="password"  id="tPassword" placeholder="新密码" 
		   	   		onblur="passwordblur()" style="width:240px;margin-top: 5px;">
		   	   </div>
		   	   <div class="register_con_list">
		   	   	<input type="password"  id="tPassword2" placeholder="再次输入密码"
		   	   		onblur="passwordblur2()" style="width:240px;margin-top: 5px;">		   	   	
		   	   </div>
		   	    <div class="register_con_list">
		   	   	<input type="text"  id="scode" placeholder="请输入验证码"style="width:170px;" 
		   	   		onblur="scodeblur()" />		
		   	   	<button type="button" class="register_num yzm" id="btn" onclick="sendyzm()"
		   	   		style="padding: 0.225rem;margin-left: 0.89rem;">获取验证码</button>
		   	   </div>
			</div>
			 <button value="完成" id="register_button" onclick="updatePassword()">完成</button>
		</div>
  <script src="../public/js/mui.js"></script>
  <script type="text/javascript" src="../public/js/zepto.min.js" ></script>
  <script type="text/javascript" src="../public/js/app.js" ></script>
  <script type="text/javascript" src="../public/js/register.js" ></script>
  <script>
  	var id=localStorage.getItem("teacherId");
  	var tTel=localStorage.getItem("tTel");
  	function oldPassword(){
  		$.ajax({
  			type:"post",
  			url:getRootPath+"/teacher/oldPassword",
  			data:{
  				"id":id,
  				"tPassword":$("#mypwd").val()
  			},
  			async:true,
  			success:function(result){
  				if(result.success){
  					$("#mypwd").css("color","black");
  				}else{
  					mui.toast(result.msg);
  					$("#mypwd").val("");
  				}
  			}
  		});
  	}
  	function updatePassword(){
    	if($("#mypwd").val()==null || $("#mypwd").val()==''){
    		mui.toast("旧密码不能为空");
    	}else if($("#tPassword").val()==null || $("#tPassword").val()==''){
  			mui.toast("密码不能为空");
  		}else if($("#tPassword2").val()==null || $("#tPassword2").val()==''){
  			mui.toast("确认密码不能为空");
  		}else{
  			$.ajax({
  				type:"post",
  				url:getRootPath+"/teacher/editPassword",
  				data:{
  					"tPassword":$("#tPassword").val(),
  					"tTel":tTel
  				},
  				async:true,
  				success:function(result){
  					if(result.success){
  						mui.toast("密码修改成功");
  						
			  		$.ajax({
			  			type:"post",
			  			url:getRootPath+"/teacher/exit",
			  			data:{
			  				"id":id
			  			},
			  			success:function(result){
			  				if(result.success){
			  					localStorage.clear();
			  					jump("login");
			  				}else{
			  					mui.toast(result.msg);
			  				}
			  			}
			  		});
  					}else{
  						mui.toast(result.msg);
  					}
  				}
  			});
  		}
  	}
  </script>
</body>
</html>
