<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>绑定</title>
		<link rel="stylesheet" href="../public/css/mui.css" />
		<script>
		 	var html=document.documentElement;
		 	var w = window.outerWidth || screen.width; if (w > 720){w='720'};
		 	var fontSize = w/16 + 'px';html.style.fontSize =fontSize;
		 </script>
		 <link rel="stylesheet" href="../public/css/record.css"/>
		 <link rel="stylesheet" href="../public/css/myapp.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav" id="header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">最近登录记录</h1>
		</header>
		<div class="mui-content">
			<div class="record_con">
				<div class="record_con_top">
					查看最近登录过的手机或浏览器，如发现可疑登录，请立即修改/修改登录密码
				</div>
				<div class="record_bon">
					<div class="record_bon_list">
						<div class="record_bon_list_top">HUAWEI RIO-AlOO</div>
						<div class="record_bon_list_btn">2017/10/31 19:20:21</div>
					</div>
					<div class="record_bon_list">
						<div class="record_bon_list_top">HUAWEI RIO-AlOO</div>
						<div class="record_bon_list_btn">2017/10/31 19:20:21</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
