<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>安全中心</title>
		<link rel="stylesheet" href="../public/css/mui.css" />
		<script>
		 	var html=document.documentElement;
		 	var w = window.outerWidth || screen.width; if (w > 720){w='720'};
		 	var fontSize = w/16 + 'px';html.style.fontSize =fontSize;
		 </script>
		 <link rel="stylesheet" href="../public/css/myindex.css"/>
		 <link rel="stylesheet" href="../public/css/myapp.css" />
		 <style>
		 </style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav" id="header">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">安全中心</h1>
		</header>
		<div class="mui-content">
			<div class="mui-bottom-view" style="margin-top: 0;">
							<div class="mui-bottom-view-litem clear">
								
								<div class="mui_litem_left_text">
									账户安全
								</div>
								<div class="mui_litem_right" style="color: red;
									">
									风险中等
								</div>
							</div>
							<div class="mui-bottom-view-litem clear">
								
								<div class="mui_litem_left_text">
								最近登录记录
								</div>
								
							</div>
							<div class="mui-bottom-view-litem clear" style="border-bottom:none;">
								
								<div class="mui_litem_left_text">
									账号相关答疑
								</div>
								
							</div>							
			       </div>
		</div>
			 <script src="../public/js/mui.js"></script>
     <script src="../public/js/zepto.min.js"></script>
     <script type="text/javascript" src="../public/js/app.js" ></script>
     <script>
     	mui.init()
     </script>
	</body>
</html>
